body {
    margin: 0;
    background-color: #222;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: cornsilk;
    font-size: 24pt;
}

a {
    color: #EEE;
    text-decoration: none;
    font-size: 18pt;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    color: #EEE;
    font-size: 18pt;
}

.header {
    background-color: #555;
    padding: 10px 0px;
    color: #EEE;
    font-size: 22pt;
    text-transform: uppercase;
}

.button {
    background-color: #444;
    padding: 10px 50px;
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
    background-color: #555;
    border-style: solid;
    border-color: #000;
}

.about:hover{
    border-color:rgb(255, 115, 0);
}

.chess:hover{
    border-color:rgb(35, 204, 63);
}

.chess960:hover {
    border-color:rgb(231, 0, 212);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.homeContainer {
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25%;
    width: 50%;
}

.menu {
    min-width: 200px;
    width: 20vw;
    /* flex: 1; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    height: 94vh;
    background-color: #111;
}

.menu h2 {
    color: #EEE;
}

.board {
    flex: 4;
    justify-content: center;
}

.console {
    /* flex: 1; */
    display: flex;
    min-width: 200px;
    width: 20vw;
    height: 94vh;
    flex-direction: column;
}

#black {
    flex: 2;
    background-color: #444;
}

#black img {
    width: 50px;
    height: auto;
}

#white {
    flex: 2;
    background-color: #EEE;
}

#white img {
    width: 50px;
    height: auto;
}


.about {
    flex: 4;
}



.chessContainer {
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#chessBoard {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
}
.square {
    width: 100px;
    height: 100px;
}

footer {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer h2 {
    margin: 0;
    margin: auto 0;
}
hr {
    margin: 0;
}