body {
    margin: 0;
    background-color: #222;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color: cornsilk;
    font-size: 24pt;
}

a {
    color: #EEE;
    text-decoration: none;
    font-size: 18pt;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    color: #EEE;
    font-size: 18pt;
}

.header {
    background-color: #555;
    padding: 10px 0px;
    color: #EEE;
    font-size: 22pt;
    text-transform: uppercase;
}

.button {
    background-color: #444;
    padding: 10px 50px;
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
    background-color: #555;
    border-style: solid;
    border-color: #000;
}

.about:hover{
    border-color:rgb(255, 115, 0);
}

.chess:hover{
    border-color:rgb(35, 204, 63);
}

.chess960:hover {
    border-color:rgb(231, 0, 212);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.homeContainer {
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25%;
    width: 50%;
}

.menu {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;
    height: 940px;
}

.menu h2 {
    color: #EEE;
}

.board {
    flex: 4;
    justify-content: center;
}

.console {
    flex: 1;
    background-color: #EEE;
    height: 940px;
}

.about {
    flex: 4;
}